In [4]:
import pandas as pd
import sqlite3

df = pd.read_csv("nhan_su.csv")

In [5]:
df_loc = df[
    df["Ma_NV"].str.contains("NS", case=False, na=False) &
    (df["Nam_Cong_Tac"] >= 2021)
]

In [6]:
mean_thanh_tich = df_loc["Thanh_Tich"].mean()
df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_thanh_tich)

df_loc

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11036\3193354072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_thanh_tich)

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

In [8]:
tong_thanh_tich = df_loc.groupby("Phong_Ban")["Thanh_Tich"].sum()

In [9]:
import pandas as pd
import sqlite3

df = pd.read_csv("nhan_su.csv")

In [10]:
pivot_table = pd.pivot_table(
    df_loc,
    index="Phong_Ban",
    columns="Nam_Cong_Tac",
    values="Thanh_Tich",
    aggfunc="sum",
    fill_value=0
)

In [11]:
conn = sqlite3.connect("HeThong.db")

pivot_table.to_sql(
    "bang_luong_2024",
    conn,
    if_exists="replace"
)

3

In [12]:
query = "SELECT * FROM bang_luong_2024 LIMIT 5"
result = pd.read_sql(query, conn)

print(result)

conn.close()

   Phong_Ban   2021       2022  2023        2024
0  KinhDoanh  165.0  88.333333  95.0    0.000000
1    KyThuat   88.0   0.000000   0.0  180.333333
2     NhanSu    0.0  88.333333  90.0    0.000000